 *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Poppins", sans-serif;
	 
 }	
 body{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 min-height: 100vh;
	 background: url('pokok.jpg') no-repeat;
	 background-size: cover;
	 background-position: center;
 }
 
 header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index; 100;
}

 .logo{
	font-size: 2em;
	color: #359381;
	pointer-events: none;
	margin-right: 270px;
 }
 
  .navigation a{
 text-decoration: none;
 color: #359381;
 padding: 6px 15px;
 border-radius: 20px;
 margin: 0 10px;
 font-weight: 600;
}

.navigation a:hover, .navigation a.active {
 background: #359381;
 color: white;
}

.navigation1 a{
   text-decoration: none;
 color: red;
 padding: 6px 15px;
 border-radius: 20px;
 margin: 0 0px;
 font-weight: 600;
}

.navigation1 a:hover {
 background: red;
 color: white;
}

 .wrapper{
	width: 430px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	border-radius: 10px;
	font-size: 16px;
	padding: 20px;
 }
 
   .wrapper .btn{
	 width: 50%;
	 height: 25px;
	 background: white;
	 border: none;
	 outline: none;
	 border-radius: 40px;
	 box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	 cursor: pointer;
	 font-size: 16px;
	 color: #333;
	 font-weight: 600;
 }